body{
  background-color: whitesmoke;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: :left;
}
p, li {
  font-family: Arial, Helvetica, sans-serif;
}
strong {
  color: blue;
}
.highlight {
  color: red;
}